div.menu {
	padding: 3% 0%;
}

div.menu div.option {
	background: #BCAAA4;
	margin: 0% 3%;
	border-radius: 10px;
	padding: 15px 0px;
}

div.menu div.option table tr td a img {
	height: 35%;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background-color: #78909C;
	padding: 15px;
	border-radius: 10px;
	opacity: 0.8;
}

div.menu div.option table tr.ico td a img:hover {
opacity: 1;
box-shadow: 0px 3px 3px -1px #263238;
}

div.menu div.option table tr.ico td {
	padding: 20px;
}

div.menu div.option table tr.sub td {
	padding: 0px 20px;
}

div.menu div.option table tr.sub td div {
	text-align: center;
	font-size: 25px;
	border-top: 2px solid #3E2723;
	padding: 10px;
	color: #263238;
}

div.menu div.penjelasan {
	background: #B2DFDB;
	margin: 2% 3% 0% 3%;
	border-radius: 10px;
	padding: 8px 0px;
	color: #004D40;
}

div.penjelasan table {
	display: inline-block;
}

div.penjelasan img {
	margin-left: 2%;
	display: inline-block;
	width: 12%;
}

div.penjelasan table tr th {
	float: right;
}

div.penjelasan table tr td, th {
	padding: 8px 10px;
	display: inlne-block;
}

.footer {
	color: #757575;
	font-size: 11px;
	border-top: 1px solid #BDBDBD;
	padding: 5px 5px 12px 0px ;
	bottom: 0;
	position: relative;
	display: block;
	width: 75.5%;
	margin-left: 23%;
}